<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
              <ion-icon class="myGreen" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>ALBARAN {{entrada.numalbar}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-list>
          <ion-item text-wrap no-lines class="greenHeader">
            Fecha: {{entrada.fechaalb}}
            <br> {{entrada.knetos}} Kg. {{entrada.cajones}} Cajones
          </ion-item>
      </ion-list>
  
      <ion-list>
          <ion-item style="font-size: 1em" no-lines *ngIf="calidades.length > 0 " >         
            <ion-grid style=" border: 1px solid grey" no-padding>
              
              <div *ngFor="let calidad of calidades">
                  <div *ngIf="calidad.kilos != null">
                <ion-row [ngClass]="{'color': calidad.contador%2 > 0}">
                  
                    <ion-col col-4 >
                      {{calidad.calidad}}
                    </ion-col>
                    <ion-col  col-8 style="text-align:right;">
                      {{calidad.kilos}} <strong> Kgs</strong>
                    </ion-col>
                  
                </ion-row>
              </div>
              </div>
            </ion-grid>
          </ion-item>
  
        </ion-list>
        <ion-list>
          <div *ngIf="incidencias.length > 0">
              <ion-item text-wrap no-lines class="greenHeader">
                  INCIDENCIAS
              </ion-item>
              <ion-item style="font-size: 1em">
                  <ion-grid style=" border: 1px solid grey;" no-padding>
              
                      <div *ngFor="let incidencia of incidencias">
                          
                        <ion-row [ngClass]="{'color': incidencia.contador%2 > 0}">
                          
                            <ion-col col-8>
                              {{incidencia.nomincid}}
                            </ion-col>
                            <ion-col col-4 style="text-align:right;">
                              {{incidencia.tipincid}}
                            </ion-col>
                        </ion-row>
                      
                      </div>
                    </ion-grid>
              </ion-item>
          </div>
          
          <ion-item no-lines>
            <button ion-button outline item-end round icon-left text-wrap class="myGreen"  (click)="comprobarPlantillas()">
              <ion-icon name="mail"></ion-icon>
              Enviar clasificacion por correo.
            </button>
          </ion-item>
      </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <span style="font-size:0.8em;">(c) Ariadna SW 2022</span>
      </ion-title>
    </ion-toolbar>
  </ion-footer>