page-campos {
    ion-header {
        text-align: center;
    }
    ion-toolbar {
        text-align: center;
    }
    img {
        width: 40%;
    }
    .psb {
        padding: 5px;
        border: solid;
        border-radius: 30px;
        border-color: teal;
        border-width: 3px;
        text-align: center;
     }
     .greenHeader {
        background-color: teal;
        color: white;
     }
     .buttonGreen {
         color: teal;
     }
     ion-header ion-icon.back-button-icon.icon {
        color: teal;
     }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 0px;
    }
    .section-active {
        background:teal;
        color: #fff;
        p {
            color: #fff;
        }
    }  
    .outList {
        margin: 0px;
    }
}
