<ion-header>
  <ion-navbar>
   <ion-title>
      {{version}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="myGreen" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item text-wrap class="greenHeader">
      {{campo.nomvarie}}<br>
      Nº CAMPO: {{campo.codcampo}} <span *ngIf="campo.numcampo > 0">ORDEN: {{campo.numcampo}}</span>
      <br> {{campanya.nomresum}}
      <br> Partida: {{campo.nomparti}}
      <br> Polígono: {{campo.poligono}} Parcela: {{campo.parcela}}
      <ion-buttons end>
          <button color="light" ion-button outline item-end round icon-left (click)="openModalCalidadesCampo(campo)">
              <ion-icon name="shuffle"></ion-icon>
              Clasificacion
          </button>
    </ion-buttons>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div class="psb">
            <img src="assets/imgs/campos.png">
          </div>
        </ion-col>
        <ion-col col-8 class="justificar">
          Este es el detalle de entradas para el campo y campaña seleccionados.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <ion-item  *ngFor="let entrada of campo.entradas" text-wrap>
      
      <div *ngIf="!entrada.clasifica" (click)="openModalCalidadesAlbaran(entrada)">
        <span class="myGreen">Fecha: {{entrada.fechaalb}} Albarán: {{entrada.numalbar}}</span>
        <br>
        {{entrada.knetos}} Kg. {{entrada.cajones}} Cajones
        <ion-icon name="shuffle" item-end class="myGreen"></ion-icon>
      </div>

      <div *ngIf="entrada.clasifica">
        <span class="myRed">Fecha: {{entrada.fechaalb}} Nota: {{entrada.numalbar}}</span>
        <br>
        <span>{{entrada.knetos}} Kg. {{entrada.cajones}} Cajones</span>
      </div>
       
      
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna SW 2022</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>