<ion-header>
  <ion-navbar>
    <ion-title>
      ARIAGRO APP V2
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="myGreen" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines class="greenHeader">
        MENSAJES 
      </ion-item>
      <ion-grid (click)='crearMensaje()'>
        <ion-row>
          <ion-col col-4>
            <div class="psb">
              <img src="assets/imgs/mensajes.png">
            </div>
          </ion-col>
          <ion-col col-8 style="text-align: justify;">
              Pulse en cualquier mensaje para ver su detalle. Si desea enviarnos un mensaje haga clic aquí 
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngFor="let mensaje of mensajes" (click)="goMensajeDetalle(mensaje)">
        <ion-item text-wrap *ngIf='mensaje.estado == "LEIDO"; else color '>
            FECHA: {{mensaje.fecha}}
            <br>ASUNTO: {{mensaje.asunto}}
            <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
        </ion-item>
        <ng-template #color>
          <ion-item text-wrap  color="lightTeal" style="border-radius: 25px;">
            FECHA: {{mensaje.fecha}}
            <br>ASUNTO: {{mensaje.asunto}}
            <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
          </ion-item>
        </ng-template>
      </div>
  </ion-list>
</ion-content>


<ion-footer>
    <ion-toolbar>
      <ion-title>
        <span style="font-size:0.8em;">(c) Ariadna SW 2018</span>
      </ion-title>
    </ion-toolbar>
</ion-footer>
