<ion-header>
  <ion-navbar>
   <ion-title>
      {{version}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="myGreen" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines class="greenHeader">
        MENSAJES 
      </ion-item>
     
          <ion-item (click)='crearMensaje()' class="justificar" text-wrap no-lines>
              Pulse en cualquier mensaje para ver su detalle. <span *ngIf="!ocultar">Si desea enviarnos un mensaje haga clic aquí.</span>
          </ion-item>
          <ion-item no-lines>
              <button *ngIf="!ocultar" ion-button outline item-end round icon-left class="myGreen" (click)="crearMensaje()">
                <ion-icon name="mail"></ion-icon>
                Enviar
              </button>
          </ion-item>
        
      <div *ngFor="let mensaje of mensajes" (click)="goMensajeDetalle(mensaje)">
        <ion-item text-wrap *ngIf='mensaje.estado == "LEIDO"; else color '>
            FECHA: {{mensaje.fecha}}
            <br>ASUNTO: {{mensaje.asunto}}
            <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
        </ion-item>
        <ng-template #color>
          <ion-item text-wrap  color="lightTeal" style="border-radius: 25px;">
            FECHA: {{mensaje.fecha}}
            <br>ASUNTO: {{mensaje.asunto}}
            <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
          </ion-item>
        </ng-template>
      </div>
    
  </ion-list>
</ion-content>


<ion-footer>
    <ion-toolbar>
      <ion-title>
        <span style="font-size:0.8em;">(c) Ariadna SW 2022</span>
      </ion-title>
    </ion-toolbar>
</ion-footer>
