<ion-header>
  <ion-navbar>
   <ion-title>
      {{version}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="myGreen" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines class="greenHeader">
      DATOS
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div class="psb">
            <img src="assets/imgs/datos.png">
          </div>
        </ion-col>
        <ion-col col-8 class="justificar">
          Estos son sus datos en nuestros ficheros.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list no-lines>
    <ion-item text-wrap>
      <p>{{user.nombre}}</p>
      <p>NIF: {{user.nif}}</p>
      <p>{{user.direccion}}</p>
      <p>({{user.codPostal}}) {{user.poblacion}}</p>
      <p>{{user.provincia}}</p>
      <p>Teléfono(1): {{user.telefono1}}</p>
      <p>Teléfono(2): {{user.telefono2}}</p>
      <p>Correo: {{user.email}}</p>
      <p>IBAN: {{user.iban}}</p>
      <p>Nro. REGEPA: {{nroregepa}}</p>
    </ion-item>
    <ion-item no-lines>
      <button *ngIf="!ocultar" ion-button outline item-end round icon-left text-wrap class="myGreen"  (click)="cambioDatos()">
        <ion-icon name="git-compare"></ion-icon>
        Solicitar cambio de datos
      </button>
    </ion-item>
    <ion-item>
      <button *ngIf="!ocultar" ion-button outline item-end round icon-left text-wrap class="myGreen"  (click)="solicitarCertificado()">
        <ion-icon name="mail"></ion-icon>
        Solicitar certificado IRPF
      </button> 
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna SW 2020</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>